* {
    font-family: Sans-Serif;
}

HTML {
    overflow: auto;
    height: 100%;
}

BODY {
    overflow: auto;
    height: 100%;
}

.form-label {
    margin-bottom: 10px;
    font-size: 14px;
}

.form-text {
    font-size: 12px;
    color: gray;
}

.input-group {
    margin-top: 5px;
    margin-bottom: 5px;    
}

.mb-3 {
    margin-bottom: 12px;
}

BODY {
    padding: 10px;
}

.ui-input {
    font-size: 14px;
    padding: 4px 5px;
    height: auto;
}

.message {
    padding: 7px 11px;
}

.message.message-success {
    background-color: #dcffdc;
    color: green;
}

.buttons {
    margin-bottom: 10px;
}

.main-block {
    margin-bottom: 10px;
}

.ecom-document-row {
    margin-bottom: 4px;
}

.ecom-document-column {
    display: inline-grid;
    margin-right: 10px;
}

.ecom-document-param-label {
    margin-bottom: 4px;
}

.ecom-document-delete-button {
    top: 25px;
    position: relative;
}

.ecom-document-delete-button {
    color: #fff;
    border: 1px solid #b90000;
    background-image: linear-gradient(to bottom, #e35656, #b90000);
}
.wide-select {
    width: 200px;
}